assignment1.txt
[{"id":"1496a4f.e4c135b","type":"inject","z":"e3287bb0.c90798","name":"starterNode","topic":"","payload":"","payloadType":"str","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":240,"wires":[["d042f712.e46268"]]},{"id":"d042f712.e46268","type":"random","z":"e3287bb0.c90798","name":"","low":"1","high":"10","inte":"true","property":"payload","x":380,"y":240,"wires":[["6c382102.ac9bb"]]},{"id":"6c382102.ac9bb","type":"function","z":"e3287bb0.c90798","name":"lowerOrHigherNum","func":"if (msg.payload < 5) {\n    msg.payload = 'Number ' + msg.payload + ' is a low number';\n} else {\n    msg.payload = 'Number ' + msg.payload + ' is a high number';\n}\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":240,"wires":[["d3dd8105.52a62"]]},{"id":"d3dd8105.52a62","type":"debug","z":"e3287bb0.c90798","name":"output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":850,"y":240,"wires":[]}]