assignment2.txt
[{"id":"d2cca5d2.b2afc8","type":"http in","z":"c6dc2c57.958cc","name":"","url":"/time","method":"get","upload":false,"swaggerDoc":"","x":160,"y":180,"wires":[["fd20661e.b5ae78"]]},{"id":"2b23a29f.efa36e","type":"http response","z":"c6dc2c57.958cc","name":"server","statusCode":"","headers":{},"x":970,"y":280,"wires":[]},{"id":"ce5f3e6f.922c7","type":"function","z":"c6dc2c57.958cc","name":"httpHeader","func":"msg.headers={\"Content-Type\":\"application/json\"}\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":240,"wires":[["2b23a29f.efa36e"]]},{"id":"fd20661e.b5ae78","type":"function","z":"c6dc2c57.958cc","name":"generateRandomTime","func":"function genTimeString() {\n    var date = new Date();\n    \n    var hour = date.getHours();\n    hour = hour < 10 ? '0' + hour : hour;\n    \n    var min = date.getMinutes();\n    min = min < 10 ? '0' + min : min;\n    \n    return hour + ':' + min;\n}\n\nvar timeString = genTimeString();\nflow.set('time', timeString);\n\nvar time = flow.get('time');\n\nmsg.payload = {\n  'time': time,\n};\nreturn msg;\n// ","outputs":1,"noerr":0,"x":420,"y":180,"wires":[["ce5f3e6f.922c7"]]},{"id":"fa5d67f6.747848","type":"http in","z":"c6dc2c57.958cc","name":"","url":"/random","method":"get","upload":false,"swaggerDoc":"","x":150,"y":240,"wires":[["826ab90a.ad0c08"]]},{"id":"826ab90a.ad0c08","type":"function","z":"c6dc2c57.958cc","name":"generateRandomNumber","func":"function genTimeString() {\n    var date = new Date();\n    \n    var hour = date.getHours();\n    hour = hour < 10 ? '0' + hour : hour;\n    \n    var min = date.getMinutes();\n    min = min < 10 ? '0' + min : min;\n    \n    return hour + ':' + min;\n}\n\nvar randomNumber = Math.floor(Math.random() * 10);\n\nrandomNumber = randomNumber === 0 ? 1 : randomNumber;\n\nflow.set('random', randomNumber);\nvar num = flow.get('random');\n\nvar time = genTimeString();\nflow.set('randomTime', time);\n\nmsg.payload = {\n    'random': num,\n}\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":240,"wires":[["ce5f3e6f.922c7"]]},{"id":"b2f59595.d1f908","type":"template","z":"c6dc2c57.958cc","name":"/page template","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{^payload.time}}\nNo server time requests have been received\n{{/payload.time}}\n{{#payload.time}}\nTime last server time request received at {{payload.time}}\n{{/payload.time}}\n{{#payload.random}}\nLast random number request returned {{payload.random}}, which was received at {{payload.randomTime}}\n{{/payload.random}}\n{{^payload.random}}\nNo requests for random numbers have been received\n{{/payload.random}}\n","output":"str","x":440,"y":320,"wires":[["e8876f3a.3e627"]]},{"id":"9e34b55d.b8ce88","type":"function","z":"c6dc2c57.958cc","name":"Page","func":"var time = flow.get('time');\nvar random = flow.get('random');\nvar randomTime = flow.get('randomTime');\n\nmsg.payload = {\n    'time': time,\n    'random': random,\n    'randomTime': randomTime,\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":320,"wires":[["b2f59595.d1f908"]]},{"id":"bffcf526.bb8a58","type":"http in","z":"c6dc2c57.958cc","name":"","url":"/page","method":"get","upload":false,"swaggerDoc":"","x":100,"y":320,"wires":[["9e34b55d.b8ce88"]]},{"id":"e8876f3a.3e627","type":"function","z":"c6dc2c57.958cc","name":"httpHeaderText","func":"msg.headers={\"Content-Type\":\"text/html\"}\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":320,"wires":[["2b23a29f.efa36e"]]}]