assignments/assignment5Cloud.txt
[{"id":"bdc7a6bd.c89b58","type":"ibmiot in","z":"deb0d57.1c46528","authentication":"boundService","apiKey":"","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":true,"allFormats":"","qos":0,"x":150,"y":300,"wires":[["560a44a4.d8c93c","e425f1a5.df0ad"]]},{"id":"560a44a4.d8c93c","type":"debug","z":"deb0d57.1c46528","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":350,"y":200,"wires":[]},{"id":"e425f1a5.df0ad","type":"function","z":"deb0d57.1c46528","name":"","func":"var sensorTemp = msg.payload.d ? msg.payload.d.temperature : false;\n\nif (sensorTemp) {\n    if (sensorTemp > 29) {\n        msg.payload = { 'screen': 'on' };\n        return msg;\n    } else if (sensorTemp < 29){\n        msg.payload = { 'screen': 'off' };\n        return msg;\n    }\n} else {\n    return msg;\n}\n","outputs":1,"noerr":0,"x":550,"y":300,"wires":[["85a2c570.9a3328","24cc7641.f98b1a"]]},{"id":"85a2c570.9a3328","type":"debug","z":"deb0d57.1c46528","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":340,"wires":[]},{"id":"416ca00d.b1a84","type":"ibmiot out","z":"deb0d57.1c46528","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"rhsensehat1","deviceType":"SenseHat","eventCommandType":"display","format":"json","data":"{}","qos":0,"name":"IBM IoT","service":"registered","x":940,"y":280,"wires":[]},{"id":"24cc7641.f98b1a","type":"json","z":"deb0d57.1c46528","name":"","property":"payload","action":"","pretty":false,"x":730,"y":280,"wires":[["416ca00d.b1a84"]]},{"id":"37503cde.4d7a64","type":"inject","z":"deb0d57.1c46528","name":"","topic":"","payload":"{\"d\":{\"temperature\":25}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":380,"wires":[["e425f1a5.df0ad"]]},{"id":"71600de1.9f32b4","type":"inject","z":"deb0d57.1c46528","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":440,"wires":[[]]}]