assignments/assignment5.txt
[{"id":"cce55c30.a6af2","type":"wiotp out","z":"ae8bc3c7.ea436","authType":"g","qs":"false","qsDeviceId":"","deviceKey":"a7225101.68aa5","deviceType":"SenseHat","deviceId":"rhsensehat1","event":"event","format":"json","qos":"","name":"","x":970,"y":280,"wires":[]},{"id":"5b3ff204.3a765c","type":"rpi-sensehat in","z":"ae8bc3c7.ea436","name":"","motion":false,"env":true,"stick":false,"x":110,"y":280,"wires":[["1619c91.448c537"]]},{"id":"c69c3757.dde3c8","type":"function","z":"ae8bc3c7.ea436","name":"formatDeviceData","func":"flow.set('temperature', msg.payload.temperature);\n\nmsg.payload = {\n  'd': {\n    'temperature': msg.payload.temperature,\n    'humidity': msg.payload.humidity\n  }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":280,"wires":[["cce55c30.a6af2","43a71093.d9215"]]},{"id":"43a71093.d9215","type":"debug","z":"ae8bc3c7.ea436","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":160,"wires":[]},{"id":"c1a2a28e.e80e7","type":"exec","z":"ae8bc3c7.ea436","command":"vcgencmd measure_temp","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":340,"y":440,"wires":[["eface254.452a2"],[],[]]},{"id":"1b801a4.d62d6e6","type":"debug","z":"ae8bc3c7.ea436","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":850,"y":460,"wires":[]},{"id":"d0ce96cf.79e048","type":"inject","z":"ae8bc3c7.ea436","name":"","topic":"","payload":"","payloadType":"str","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":440,"wires":[["c1a2a28e.e80e7"]]},{"id":"eface254.452a2","type":"function","z":"ae8bc3c7.ea436","name":"formatCPUTemp","func":"var endIndex = msg.payload.indexOf(\"'\");\nvar cpuTemp = Number(msg.payload.slice(5, endIndex));\nmsg.payload = {\n  'd': {\n     'temp': cpuTemp\n  }\n}\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":440,"wires":[["1b801a4.d62d6e6","cce55c30.a6af2"]]},{"id":"1619c91.448c537","type":"delay","z":"ae8bc3c7.ea436","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":300,"y":280,"wires":[["c69c3757.dde3c8"]]},{"id":"c28ced72.91efe","type":"wiotp in","z":"ae8bc3c7.ea436","authType":"g","deviceKey":"a7225101.68aa5","deviceType":"SenseHat","deviceId":"rhsensehat1","command":"+","commandType":"d","qos":0,"name":"","x":120,"y":580,"wires":[["9c330249.cabd7"]]},{"id":"41f0041f.73182c","type":"debug","z":"ae8bc3c7.ea436","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":550,"y":660,"wires":[]},{"id":"a0508ba1.dbe008","type":"rpi-sensehat out","z":"ae8bc3c7.ea436","name":"","x":550,"y":580,"wires":[]},{"id":"9c330249.cabd7","type":"function","z":"ae8bc3c7.ea436","name":"","func":"function fillColumn(n) {\n  if (n === 1) {\n    return [0, 1];\n  }\n  return [1, 1];\n}\n\n// a function that iterates through and creates the y-coordinates;\n// output of this will be [[1, 1], [0, 1]] a matrix 2 by (n/2) where (n/2 is the rows);\n// \nfunction createTwoDimensions(num) {\n  let numb = num;\n  let rowNumber = 0;\n  let xyPlane = [];\n  while (numb > 0) {\n    const columnsFilled = fillColumn(numb);\n    xyPlane.push([...columnsFilled, rowNumber]);\n    rowNumber++;\n    numb-= 2;\n  }\n  return xyPlane;\n}\n\nfunction addColor(twoDPlane, color) {\n  return twoDPlane.map((row) => {\n    row.push(color);\n    return row;\n  });\n}\n\nfunction convertCoordinates(twoDPlane, column1, column2, row1) {\n  return twoDPlane.map((row, i) => {\n    if (row[0] !== 0) {\n      row[0] = column1;\n    }\n    row[1] = column2;\n    row[2] += row1;\n    return row;\n  });\n}\n\nfunction convertToSenseHatString(row) {\n  if (row[0] === 0) {\n    return `${row[1]},${row[2]},${row[3]}`;\n  }\n  return `${row[0]}-${row[1]},${row[2]},${row[3]}`;\n}\n\nfunction createSenseHatString(twoDPlane) {\n  let output = '';\n  twoDPlane.forEach((row) => {\n    if (output.length === 0) {\n      output += convertToSenseHatString(row);\n    } else {\n      output += ',' + convertToSenseHatString(row);\n    }\n  });\n  return output;\n}\n\nfunction createSenseHatLED(n, color, coordinates) {\n  if (n === 0) {\n    return '';\n  }\n  const twoDPlane = createTwoDimensions(n);\n  const twoDPlaneColor = addColor(twoDPlane, color);\n  const conCoordinates = convertCoordinates(twoDPlaneColor, coordinates.col1, coordinates.col2, coordinates.row);\n  return createSenseHatString(conCoordinates);\n}\n\nvar tem = flow.get('temperature');\n\nvar tens = Math.floor(tem / 10);\nvar digits = Math.floor(tem % 10);\n\nvar tempCount = createSenseHatLED(tens, '#C0C0C0', {col1: 1, col2: 2, row: 2});\ntempCount = tens === 0 ? tempCount : ',' + tempCount;\n\nvar digitsCount = createSenseHatLED(digits, '#C0C0C0', {col1: 5, col2: 6, row: 2});\ndigitsCount = digits === 0 ? digitsCount : ',' + digitsCount;\n\nif (msg.payload.screen === 'on') {\n    msg.payload = '*,*,#800000' + tempCount + digitsCount;    \n} else if (msg.payload.screen === \"off\") {\n    msg.payload = \"*,*,green\" + tempCount + digitsCount;\n} else {\n    msg.payload = \"*,*,#000000\";\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":580,"wires":[["a0508ba1.dbe008","41f0041f.73182c"]]},{"id":"a7225101.68aa5","type":"wiotp-credentials","z":"","name":"Raspberry GW","org":"eu5rnm","serverName":"","devType":"raspberryGW","devId":"rhraspberrygw1","keepalive":"60","cleansession":true,"tls":"","usetls":false}]