assignments/assignment3.txt
[{"id":"1f19df65.a23f91","type":"inject","z":"67d32983.7d33e8","name":"","topic":"","payload":"","payloadType":"str","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":150,"y":280,"wires":[["ee3d96e5.983bc8"]]},{"id":"d7befd1a.41c36","type":"wiotp out","z":"67d32983.7d33e8","authType":"d","qs":"true","qsDeviceId":"d7befd1a.41c36","deviceKey":"","deviceType":"","deviceId":"","event":"event","format":"json","qos":"","name":"","x":830,"y":220,"wires":[]},{"id":"f88e4fb3.9baec","type":"function","z":"67d32983.7d33e8","name":"formatData","func":"var tempData = msg.payload;\nvar endIndex = tempData.indexOf(\"'\");\nvar tempString = msg.payload;\nvar tempNumber = Number(tempString.slice(5, endIndex));\n\nmsg.payload = {\n  'd': {\n    'temp': tempNumber\n  },\n}\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":280,"wires":[["d7befd1a.41c36","f52c8c34.14989"]]},{"id":"f52c8c34.14989","type":"debug","z":"67d32983.7d33e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":860,"y":340,"wires":[]},{"id":"ee3d96e5.983bc8","type":"exec","z":"67d32983.7d33e8","command":"vcgencmd measure_temp","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":380,"y":280,"wires":[["f88e4fb3.9baec"],[],[]]}]